<app-table [table]="posts"></app-table>
<div class="overlay" *ngIf="isAddNewItem">
  <div class="container d-flex gap-2 m-3 p-3 card" style="max-width: 30vw;">
    <div [ngClass]="combinedClasses">
      <label for="user_id">User ID:</label>
      <input class="form-control" type="number" id="user_id" placeholder="0" [(ngModel)]="userIdNew">
    </div>
    <div [ngClass]="combinedClasses">
      <label for="category_id">Category ID:</label>
      <input class="form-control" type="number" id="category_id" placeholder="0" [(ngModel)]="categoryIdNew">
    </div>
    <div [ngClass]="combinedClasses">
      <label for="title">Title:</label>
      <input class="form-control" type="text" id="title" placeholder="title" [(ngModel)]="titleNew">
    </div>
    <div [ngClass]="combinedClasses">
      <label for="content">Content:</label>
      <input class="form-control" type="text" id="content" placeholder="content" [(ngModel)]="contentNew">
    </div>
    <div [ngClass]="combinedClasses">
      <label for="view_count">View Count:</label>
      <input class="form-control" type="number" id="view_count" placeholder="0" [(ngModel)]="viewCountNew">
    </div>
    <div [ngClass]="combinedClasses">
      <label for="is_published">Is Published:</label>
      <input class="form-check-input" type="checkbox" id="is_published"name="is_published" [(ngModel)]="isPublishedNew">
    </div>
    <div class="container d-flex gap-2 justify-content-center">
    <button type="button" class="btn btn-outline-success" (click)="addNewItemDetails()">Add</button>
      <button type="button" class="btn btn-outline-danger" (click)="updateIsAddNewItemValue()">Cancel</button>
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Post ID</th>
      <th>User ID</th>
      <th>Category ID</th>
      <th>Title</th>
      <th>View Count</th>
      <th>Creation Date</th>
      <th>Is Published</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of posts | slice : (pageInfo.pageIndex*pageInfo.pageSize) : ((pageInfo.pageIndex*pageInfo.pageSize) + pageInfo.pageSize); let i = index">
      <td>{{item.post_id}}</td>
      <td>{{item.user_id}}</td>
      <td>{{item.category_id}}</td>
      <td>{{item.title}}</td>
      <td>{{item.view_count}}</td>
      <td>{{item.creation_date}}</td>
      <td>{{item.is_published}}</td>
      <div class="container d-flex gap-2">
        <a [routerLink]="'/posts/'+ item.post_id" class="btn btn-outline-secondary">i</a>
        <button type="button" class="btn btn-outline-warning" (click)="showEditItemCard(i); updateEditInputs(item)">Edit</button>
        <button type="button" class="btn btn-outline-danger" (click)="removeItem(item)">Remove</button>
      </div>
      <div class="overlay" *ngIf="isEditItem[i]">
        <div class="container d-flex gap-2 m-3 p-3 card">
          <div [ngClass]="combinedClasses">
            <label for="user_id">User ID:</label>
            <input class="form-control" type="number" id="user_id" [value]="item.user_id" [(ngModel)]="userIdIn">
          </div>
          <div [ngClass]="combinedClasses">
            <label for="category_id">Category ID:</label>
            <input class="form-control" type="number" id="category_id" [value]="item.category_id" [(ngModel)]="categoryIdIn">
          </div>
          <div [ngClass]="combinedClasses">
            <label for="title">Title:</label>
            <input class="form-control" type="text" id="title" [value]="item.title" [(ngModel)]="titleIn">
          </div>
          <div [ngClass]="combinedClasses">
            <label for="content">Content:</label>
            <input class="form-control" type="text" id="content" [value]="item.content" [(ngModel)]="contentIn">
          </div>
          <div [ngClass]="combinedClasses">
            <label for="view_count">View Count:</label>
            <input class="form-control" type="number" id="view_count" [value]="item.view_count" [(ngModel)]="viewCountIn">
          </div>

          <div [ngClass]="combinedClasses">
            <label for="creation_date">Creation Date:</label>
            <input class="form-control" type="date" id="creation_date" [value]="item.creation_date" [(ngModel)]="creationDateIn">
          </div>
          <div [ngClass]="combinedClasses">
            <label for="is_published">Is Published:</label>
            <input class="form-check-input" type="checkbox" id="is_published" name="is_published" [checked]="item.is_published" [(ngModel)]="isPublishedIn">
          </div>
          <div class="container d-flex gap-2 justify-content-center">
            <button type="button" class="btn btn-outline-success" (click)="editItem(item, i)">Edit</button>
            <button type="button" class="btn btn-outline-danger" (click)="showEditItemCard(i)">Cancel</button>
          </div>
        </div>
      </div>
      </tr>
  </tbody>
</table>
