<app-table [table]="posts"></app-table>
<div class="container d-flex gap-4 mt-3 mb-3 align-items-center">
  <select class="form-select" [(ngModel)]="userIdFilter">
    <option value="">All Users</option>
    <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
  </select>
  <select class="form-select" [(ngModel)]="postIdFilter">
    <option value="">All Posts</option>
    <option *ngFor="let post of defaultPosts" [value]="post.post_id">{{ post.title }}</option>
  </select>
  <select class="form-select" [(ngModel)]="categoryIdFilter">
    <option value="">All Categories</option>
    <option *ngFor="let category of categories" [value]="category.category_id">{{ category.name }}</option>
  </select>
<button class="btn btn-outline-primary text-nowrap d-inline-block" (click)="applyFilters()">Apply Filters</button>
</div>

<div class="overlay" *ngIf="isAddNewItem">
  <div class="container d-flex gap-2 m-3 p-3 card" style="max-width: 30vw;">
    <div [ngClass]="combinedClasses">
      <label for="user_id">User ID: {{userIdNew}}</label>
      <select class="form-control" style="width: 225px" id="user_id" [(ngModel)]="userIdNew">
        <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
      </select>
    </div>
    <div [ngClass]="combinedClasses">
      <label for="category_id">Category ID: {{categoryIdNew}}</label>
      <select class="form-control" style="width: 225px" id="category_id" [(ngModel)]="categoryIdNew">
        <option *ngFor="let category of categories" [value]="category.category_id">{{ category.name }}</option>
      </select>
    </div>
    <div [ngClass]="combinedClasses">
      <label for="title">Title:</label>
      <input class="form-control" type="text" id="title" placeholder="title" [(ngModel)]="titleNew">
    </div>
    <div [ngClass]="combinedClasses">
      <label for="content">Content:</label>
      <input class="form-control" type="text" id="content" placeholder="content" [(ngModel)]="contentNew">
    </div>
    <div [ngClass]="combinedClasses">
      <label for="view_count">View Count:</label>
      <input class="form-control" type="number" id="view_count" placeholder="0" [(ngModel)]="viewCountNew">
    </div>
    <div [ngClass]="combinedClasses">
      <label for="is_published">Is Published:</label>
      <input class="form-check-input" type="checkbox" id="is_published"name="is_published" [(ngModel)]="isPublishedNew">
    </div>
    <div class="container d-flex gap-2 justify-content-center">
    <button type="submit" class="btn btn-outline-success" (click)="addNewItemDetails()">Add</button>
      <button type="button" class="btn btn-outline-danger" (click)="updateIsAddNewItemValue()">Cancel</button>
    </div>
  </div>
</div>


<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Category</th>
      <th>Title</th>
      <th><div class="sortable-header" (click)="sortBy(posts, 'view_count')">View Count <span class="sort-icon"></span></div></th>
      <th>Creation Date</th>
      <th>Is Published</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of posts | slice : (pageInfo.pageIndex*pageInfo.pageSize) : ((pageInfo.pageIndex*pageInfo.pageSize) + pageInfo.pageSize); let i = index">
      <td>{{item.post_id}}</td>
      <td>{{matchUserIdWithName(item.user_id)}}</td>
      <td>{{matchCategoryIdWithName(item.category_id)}}</td>
      <td>{{item.title}}</td>
      <td>{{item.view_count}}</td>
      <td>{{item.creation_date}}</td>
      <td>{{item.is_published}}</td>
      <div class="container d-flex gap-2 justify-content-end">
        <a [routerLink]="'/posts/'+ item.post_id" class="btn btn-outline-secondary">i</a>
        <button type="button" class="btn btn-outline-warning" (click)="showEditItemCard(i); updateEditInputs(item)">Edit</button>
        <button type="button" class="btn btn-outline-danger" (click)="removeItem(item)">Remove</button>
      </div>
      <div class="overlay" *ngIf="isEditItem[i]">
        <div class="container d-flex gap-2 m-3 p-3 card">
          <div [ngClass]="combinedClasses">
            <label for="user_id">User ID: {{userIdIn}}</label>
            <select class="form-control" style="width: 225px" id="user_id" [(ngModel)]="userIdIn">
              <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
            </select>
          </div>
          <div [ngClass]="combinedClasses">
            <label for="category_id">Category ID: {{categoryIdIn}}</label>
            <select class="form-control" style="width: 225px" id="category_id" [(ngModel)]="categoryIdIn">
              <option *ngFor="let category of categories" [value]="category.category_id">{{ category.name }}</option>
            </select>
          </div>
          <div [ngClass]="combinedClasses">
            <label for="title">Title:</label>
            <input class="form-control" type="text" id="title" [value]="item.title" [(ngModel)]="titleIn">
          </div>
          <div [ngClass]="combinedClasses">
            <label for="content">Content:</label>
            <input class="form-control" type="text" id="content" [value]="item.content" [(ngModel)]="contentIn">
          </div>
          <div [ngClass]="combinedClasses">
            <label for="view_count">View Count:</label>
            <input class="form-control" type="number" id="view_count" [value]="item.view_count" [(ngModel)]="viewCountIn">
          </div>

          <div [ngClass]="combinedClasses">
            <label for="creation_date">Creation Date:</label>
            <input class="form-control" type="date" id="creation_date" [value]="item.creation_date" [(ngModel)]="creationDateIn">
          </div>
          <div [ngClass]="combinedClasses">
            <label for="is_published">Is Published:</label>
            <input class="form-check-input" type="checkbox" id="is_published" name="is_published" [checked]="item.is_published" [(ngModel)]="isPublishedIn">
          </div>
          <div class="container d-flex gap-2 justify-content-center">
            <button type="button" class="btn btn-outline-success" (click)="editItem(item, i)">Edit</button>
            <button type="button" class="btn btn-outline-danger" (click)="showEditItemCard(i)">Cancel</button>
          </div>
        </div>
      </div>
      </tr>
  </tbody>
</table>

  