.btn {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
}

.add-new-card{
  max-width: 30vw;
}
@media (max-width: 768px) {
  .add-edit-card{
    max-width: 280px
  }
}

.select-container {
  min-width: 850px !important;
}
