.header {
  min-height: 5vh;
}
.header-container {
  flex-wrap: nowrap;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    white-space: nowrap;
}
a {
  text-decoration: none !important;
}
i {
  font-size: 2.3rem !important;
}
a:hover {
  color: rgba(255, 255, 255, 0.87)
}
.bx {
  display: none;
}

@media (max-width: 576px) { 
  #navbar-text {
    font-size: 4.5vw !important; 
  }
  i {
    font-size: 1.9rem !important;
  }
  div{
    padding: 0px !important;
  }
}

@media (max-width: 1090px) { 
  .bx {
    display:block
    }
}
