<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
<div class="container-fluid p-0 shadow-bottom">
  <nav class="navbar bg-dark py-3 px-4" style="height: 90px;">
    <div class="container-fluid">
      <p class="fs-3 fw-semibold text-secondary" id="navbar-text">hBurak Media / Admin Panel</p>
      <a (click)="navigateToGitHub()" class="text-light d-flex justify-content-center align-items-center gap-2">
        <i class="devicon-github-original"></i>
      </a>
    </div>
  </nav>
</div>

