<nav class="navbar navbar-dark shadow-right" style="padding-block: 0;">
  <div class="d-flex justify-content-center" style="min-height: 90vh; width: 10vw,; min-width: 150px">
      <ul class="navbar-nav fs-5  pt-5" style="position: fixed;">
        <li class="nav-item">
          <a class="nav-link"  routerLink="main"  href="#">Main</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="users" href="#">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="posts" href="#">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="categories" href="#">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="comments"   href="#">Comments</a>
        </li>
      </ul> 
  </div>
</nav>