  <div class="d-flex justify-content-end">
    <button type="button" routerLink="/posts" class="btn btn-outline-secondary">Back</button>
  </div>
  <div class="text-center mt-5"><strong>Comments for the Post</strong></div>
  <div class="text-center">Count : {{comments.length}}</div>
  <table *ngIf="comments.length >= 1" class="table mt-2">
    <thead>
      <tr>
        <th>Comment ID</th>
        <th>User ID</th>
        <th>Comment</th>
        <th>Creation Date</th>
        <th>Is Confirmed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of comments ; let i = index">
        <td>{{item.comment_id}}</td>
        <td>{{item.user_id}}</td>
        <td>{{item.comment}}</td>
        <td>{{item.creation_date}}</td>
        <td>{{item.is_confirmed}}</td>
        <div class="container d-flex gap-2">
          <a [routerLink]="'/comments/'+ item.comment_id" class="btn btn-outline-secondary">i</a>
        </div>
        </tr>
    </tbody>
  </table>  
  <div *ngIf="comments.length < 1" class="mt-2 text-center">No comments on this post.</div>