<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
<div class="container-fluid m-0 p-0 shadow lg-dark-bg top">
  <app-header></app-header>
</div>
<div class="d-flex">
  <div class="m-0 sidebar shadow-r md-dark-bg d-flex flex-column  align-items-center">
    <div class="mt-5">
      <app-side-bar></app-side-bar>
    </div>
  </div>
  <div class="container-fluid table-responsive p-5 p-sm-2 p-md-3 p-lg-4 p-xl-5 content">
    <app-content></app-content>
  </div>
</div>