.sidebar {
  height: 92vh !important;
  width: 220px !important;
  padding-top: 5rem !important;
}
.content {
  overflow: auto;
  height: 85vh;
  position: relative;
  top: 20px;
}

.top {
  height: 8vh !important;
  min-height: 4.5rem;
}


@media (max-width: 1090px) {
  .sidebar {
    height: 0px !important;
    width: 0px !important;
  }
  .content {
    padding: 1rem;
    height: 92vh;
    overflow: auto;
    
  }
}

.shadow {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2) !important;
}

.shadow-r {
  box-shadow: 8px 0px 8px rgba(0, 0, 0, 0.2) !important;

}