<div class="container-fluid d-flex text-nowrap table-container justify-content-between">
  <button type="button" class="btn btn-outline-success text-nowrap" (click)="updateIsAddNewItemValue()">Add New Item</button>
  <div class=" d-flex align-items-center gap-3 justify-content-end">
    <p style="margin-bottom: 0px; ; text-align: center !important;">{{pageInfo.pageIndex + 1}} / {{pageInfo.totalPageSize}}</p>
    <div class="gap-2 d-flex">
      <button class="btn btn-light" (click)="prevPage()" [disabled]="pageInfo.pageIndex === 0"><</button>
      <button class="btn btn-light" (click)="nextPage()" [disabled]="pageInfo.pageIndex === pageInfo.totalPageSize -1">></button>
    </div>
  </div>
</div>