<div class="container d-flex  m-2 ">
  <button type="button" class="btn btn-outline-success text-nowrap" (click)="updateIsAddNewItemValue()">Add New Item</button>
  <div class="container d-flex align-items-center gap-2 justify-content-end">
    <p style="margin-bottom: 0px; margin-right: 30px;">{{pageInfo.pageIndex + 1}} / {{pageInfo.totalPageSize}}</p>
    <button class="btn btn-light" (click)="prevPage()" [disabled]="pageInfo.pageIndex === 0"><</button>
    <button class="btn btn-light" (click)="nextPage()" [disabled]="pageInfo.pageIndex === pageInfo.totalPageSize -1">></button>
  </div>
</div>