<app-table [table]="users"></app-table>
<div class="overlay" *ngIf="isAddNewItem">
  <div class="container d-flex gap-2 m-3 p-3 card" style="max-width: 30vw;">
    <input class="form-control" type="text" placeholder="{{item.key}}" *ngFor="let item of users[0] | keyvalue ">
    <div class="container d-flex gap-2">
      <button type="button" class="btn btn-outline-success" (click)="addNewItem()">Add</button>
      <button type="button" class="btn btn-outline-danger" (click)="updateIsAddNewItemValue()">Cancel</button>
    </div>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th *ngFor="let item of users[0] | keyvalue ">{{item.key}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of users | slice : (pageInfo.pageIndex*pageInfo.pageSize) : ((pageInfo.pageIndex*pageInfo.pageSize) + pageInfo.pageSize); let i = index">
      <td *ngFor="let prop of item | keyvalue">{{prop.value}}</td>
      <div class="container d-flex gap-2">
        <a [routerLink]="'/' + users[0].id" class="btn btn-outline-secondary">i</a>
        <button type="button" class="btn btn-outline-warning" (click)="showEditItemCard(i)">Edit</button>
        <button type="button" class="btn btn-outline-danger">Remove</button>
      </div>
      <div class="overlay" *ngIf="isEditItem[i]">
        <div class="container d-flex gap-2 m-3 p-3 card" style="max-width: 30vw;">
          <input class="form-control" type="text" placeholder="{{prop.value}}" *ngFor="let prop of users[i] | keyvalue">
          <div class="container d-flex gap-2">
            <button type="button" class="btn btn-outline-success" (click)="editItem()">Edit</button>
            <button type="button" class="btn btn-outline-danger" (click)="showEditItemCard(i)">Cancel</button>
          </div>
        </div>
      </div>
      </tr>
  </tbody>
</table>
