<app-table [table]="comments"></app-table>

<div class="overlay" *ngIf="isAddNewItem">
  <div class="container d-flex gap-2 m-3 p-3 card" style="max-width: 30vw;">
    <div [ngClass]="combinedClasses">
      <label for="post_id">Post ID: {{postIdNew}}</label>
      <select class="form-control" style="width: 225px" id="post_id" [(ngModel)]="postIdNew">
        <option *ngFor="let post of posts" [value]="post.post_id">{{ post.title }}</option>
      </select>
    </div>
    <div [ngClass]="combinedClasses">
      <label for="user_id">User ID: {{userIdNew}}</label>
      <select class="form-control" style="width: 225px" id="user_id" [(ngModel)]="userIdNew">
        <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
      </select>
    </div>

    <div [ngClass]="combinedClasses">
      <label for="comment">Comment:</label>
      <input class="form-control" type="text" id="comment" placeholder="comment" [(ngModel)]="commentNew">
    </div>
    <div [ngClass]="combinedClasses">
      <label for="is_confirmed">Is Confirmed:</label>
      <input class="form-check-input" type="checkbox" id="is_confirmed"name="is_confirmed" [(ngModel)]="isConfirmedNew">
    </div>
    <div class="container d-flex gap-2 justify-content-center">
    <button type="button" class="btn btn-outline-success" (click)="addNewItemDetails()">Add</button>
      <button type="button" class="btn btn-outline-danger" (click)="updateIsAddNewItemValue()">Cancel</button>
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Comment ID</th>
      <th>Post ID</th>
      <th>User ID</th>
      <th>Comment</th>
      <th>Creation Date</th>
      <th>Is Confirmed</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of comments | slice : (pageInfo.pageIndex*pageInfo.pageSize) : ((pageInfo.pageIndex*pageInfo.pageSize) + pageInfo.pageSize); let i = index">
      <td>{{item.comment_id}}</td>
      <td>{{item.post_id}}</td>
      <td>{{item.user_id}}</td>
      <td>{{item.comment}}</td>
      <td>{{item.creation_date}}</td>
      <td>{{item.is_confirmed}}</td>
      <div class="container d-flex gap-2 justify-content-end">
        <a class="btn btn-outline-secondary" [routerLink]="'/comments'" *ngIf="!isCommentsFiltered"  (click)="filterByPostId(item.post_id); toggleFilter()">Filtre</a>
        <a [routerLink]="'/comments/'+ item.comment_id" class="btn btn-outline-secondary">i</a>
        <button type="button" class="btn btn-outline-warning" (click)="showEditItemCard(i); updateEditInputs(item)">Edit</button>
        <button type="button" class="btn btn-outline-danger" (click)="removeItem(item)">Remove</button>
      </div>
      <div class="overlay" *ngIf="isEditItem[i]">
        <div class="container d-flex gap-2 m-3 p-3 card" style="max-width: 30vw !important;">
          <div [ngClass]="combinedClasses">
            <label for="post_id">Post ID:</label>
            <input class="form-control" type="number" id="post_id" [value]="item.post_id" [(ngModel)]="postIdIn">
          </div>
          <div [ngClass]="combinedClasses">
            <label for="user_id">User ID:</label>
            <input class="form-control" type="number" id="user_id" [value]="item.user_id" [(ngModel)]="userIdIn">
          </div>
          <div [ngClass]="combinedClasses">
            <label for="comment">Comment:</label>
            <input class="form-control" type="text" id="comment" [value]="item.comment" [(ngModel)]="commentIn">
          </div>
          <div [ngClass]="combinedClasses">
            <label for="creation_date">Creation Date:</label>
            <input class="form-control" type="date" id="creation_date" [value]="item.creation_date" [(ngModel)]="creationDateIn">
          </div>
          <div [ngClass]="combinedClasses">
            <label for="is_confirmed">Is Confirmed:</label>
            <input class="form-check-input" type="checkbox" id="is_confirmed" name="is_confirmed" [checked]="item.is_confirmed" [(ngModel)]="isConfirmedIn">
          </div>
          <div class="container d-flex gap-2 justify-content-center">
            <button type="button" class="btn btn-outline-success" (click)="editItem(item, i)">Edit</button>
            <button type="button" class="btn btn-outline-danger" (click)="showEditItemCard(i)">Cancel</button>
          </div>
        </div>
      </div>
      </tr>
  </tbody>
  
</table>
<div class="overlay" *ngIf="isCommentsFiltered" >
  <div class="container d-flex gap-2 m-3 p-3 card" style="max-width: 70vw !important;">
    <div class="container text-center"><strong>All comments for Post ID: {{postIdToFilter}}</strong></div>
    <div class="container text-center"><strong>Comment Count: {{commentsFiltered?.length}}</strong></div>
    <table class="table">
      <thead>
        <tr>
          <th>Comment ID</th>
          <th>User ID</th>
          <th>Comment</th>
          <th>Creation Date</th>
          <th>Is Confirmed</th>
          <div class="container d-flex justify-content-end">
          </div>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of commentsFiltered; let i = index">
          <td>{{item.comment_id}}</td>
          <td>{{item.user_id}}</td>
          <td>{{item.comment}}</td>
          <td>{{item.creation_date}}</td>
          <td>{{item.is_confirmed}}</td>
          <div class="container d-flex gap-2">
            <a [routerLink]="'/comments/'+ item.comment_id" class="btn btn-outline-secondary">i</a>
          </div>
          <div class="overlay" *ngIf="isEditItem[i]">
            <div class="container d-flex gap-2 m-3 p-3 card">
              <div [ngClass]="combinedClasses">
                <label for="post_id">Post ID:</label>
                <input class="form-control" type="number" id="post_id" [value]="item.post_id" [(ngModel)]="postIdIn">
              </div>
              <div [ngClass]="combinedClasses">
                <label for="user_id">User ID:</label>
                <input class="form-control" type="number" id="user_id" [value]="item.user_id" [(ngModel)]="userIdIn">
              </div>
              <div [ngClass]="combinedClasses">
                <label for="comment">Comment:</label>
                <input class="form-control" type="text" id="comment" [value]="item.comment" [(ngModel)]="commentIn">
              </div>
              <div [ngClass]="combinedClasses">
                <label for="creation_date">Creation Date:</label>
                <input class="form-control" type="date" id="creation_date" [value]="item.creation_date" [(ngModel)]="creationDateIn">
              </div>
              <div [ngClass]="combinedClasses">
                <label for="is_confirmed">Is Confirmed:</label>
                <input class="form-check-input" type="checkbox" id="is_confirmed" name="is_confirmed" [checked]="item.is_confirmed" [(ngModel)]="isConfirmedIn">
              </div>
            </div>
          </div>
          </tr>
      </tbody>
    </table>
    <div class="container d-flex gap-2 justify-content-center">
      <button type="button" class="btn btn-outline-danger" (click)="toggleFilter()">Back</button>
    </div>
  </div>
</div>

